* {
    margin: 0;
    padding: 0;
}
 
body {
    font-family: cursive, sans-serif;
    font-size: 20px;
    background-color: black;
    color: white;
}
.wrapper {
    max-width: 980px;
    background-color: #8CBB26;
    margin: 0 auto;
 
 
}
 
h1 {
    text-align: center;
    font-size: 50px;
}
 
#iskalnik {
    color: yellow;
    margin-top: -50px;
}
 
h2 {
    text-align: center;
    padding: 50px 0;
    color: #2671B2;
}
 
 img {
    width: 250px;
    height: 300px;
 
}
.container {
    margin-top: 50px;
     border: 5px solid #E32322;
    padding: 10px;
 
}
 
.container img {
    border: 10px solid #E32322;
    border-radius: 100%;
}
 
.wrapper img {
    text-align: center;
}
 
form #searchBtn {
 
    background-color: red;
    width: 100px;
    border-radius: 20px;
    margin: 0 auto;
}
 
#friendBtn {
    background-color: yellow;
    width: 100%;
    border-radius: 100%;
    margin: 0 auto;
    color: #2671B2;
}
    
 
form#iskalnik {
    text-align: center;
    margin: 10px auto;
    
}
input[type=text] {
    background-color: black;
   text-align: center;
}
 
.avatar {
    width: 300px;
    margin: 0px auto;
}
 
::-webkit-input-placeholder {
   color: white;
}
 
:-moz-placeholder { /* Firefox 18- */
   color: white;  
}
 
::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}
 
:-ms-input-placeholder {  
   color: white;  
}
 
table {
    width: 500px;
    margin: 0 auto;
    padding-bottom: 20px;
}
 
table td:first-child {
    color: blue;
    padding-right: 30px;
    opacity: .5;
}
 
table td:nth-child(2) {
    color: red;
    opacity: .5;
}